@use '../custom' as *;
@use '../components/mixins' as *;

.menu {
    @include linearGradient;

    li {
        padding: 0 0.7rem;

        a {
            color: $white;
            font-weight: 600;;
        }
    }
}
